@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DMXForGamers.Models.Main>
@{
    Layout = "layout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DMX For Gamers Remote Control - 403 Error</title>
    <link href="/Contents/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Contents/CSS/DMXForGamers.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <div class="container">
        <h3 class="text-center">403 - Forbidden</h3>
        <div class="m-0 alert alert-info">
            <h4 lh-100=lh-100>
                The 'DMX for Gamers' application must allow this device to access remote control functions.<br />
                <br />
                Refresh page after access is granted...
            </h4>
        </div>
    </div>
</body>
</html>